html {
    box-sizing: border-box;
}

  *,
  *::before,
  *::after {
    box-sizing: inherit;
}


:root {
    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --caption-text-color: #FFFFFF;
    --button-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --main-network-color: #AFB1B8;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 80px;
}


                                            /* navigation menu */




.nav-container {
    
    display: flex;
    align-items: center;

    width: 1170px;
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
} 

header {
    position: fixed;
    content: "";
    top: 0;
    width: 100%;
    height: 80px;
    background-color: var(--caption-text-color);
    
    border-bottom: 1px solid #ECECEC;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-top: 94px;
    padding-bottom: 94px;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;

    /* outline: 2px solid red; */
}

.logo {
    margin-right: 85px;
}

.logo,
.caption-contacts {
    text-decoration: none;
}

.header-web {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.header-studio {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.navigation {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.contacts {
    list-style: none;
    padding-left: 0;
}
.navigation .navigation-link {
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .link:not(:last-child) {
    margin-right: 50px;
}

.navigation .navigation-link:hover,
.navigation .navigation-link:focus {
    color: var(--accent-text-color);
}

.navigation-link.curent {
    color: var(--accent-text-color);

    position: relative;
}

.navigation-link.curent::after {
    display: block;

    position: absolute;
    left: 0;
    bottom: 0;

    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-text-color);
}

.contacts {
    display: flex;
    margin-left: auto;

    margin-top: 0;
    margin-bottom: 0;
}

.contacts .link:not(:last-child){
    margin-right: 50px;
}

.contacts .contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
    color: var(--accent-text-color);
}

.envelope {
    width: 16px;
    height: 11px;

    margin-right: 10px;

    fill: var(--main-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.contacts-link:hover .envelope,
.contacts-link:focus .envelope {
    fill: var(--accent-text-color);
    cursor: pointer;
}

.vector {
    width: 10px;
    height: 15px;

    margin-right: 10px;

    fill: var(--main-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}

.contacts-link:hover .vector,
.contacts-link:focus .vector {
    fill: var(--accent-text-color);
    cursor: pointer;
}
                                    /* Web Studio main page */

/* Hero */

.hero {
    /* outline: 2px solid red; */
    background: rgba(47, 48, 58, 0.8);
    text-align: center;
    max-width: 1600px;

    /* margin-left: auto;
    margin-right: auto; */

    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 46px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--caption-text-color);

    white-space: pre-line;
}

.order {
    font-weight:700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--caption-text-color);
    text-decoration: none;

    border: transparent;
    outline-color: var(--accent-text-color);

    min-width: 200px;
    height: 50px;
    background: var(--accent-text-color);
    border-radius: 4px;

    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 500ms var(--timing-function);
}

.order:hover,
.order:focus {
    background-color: var(--caption-text-color);
    color: var(--accent-text-color);
    transition: background-color 500ms var(--timing-function);
    cursor: pointer;
}

/* Features */

.logic-title {
        /* Удаляем элемент из потока документа */
        position: absolute;
        /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
        width: 1px;
        height: 1px;
        /* Скрываем вылезающий за границы контент */
        overflow: hidden;
        /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
        border: 0;
        padding: 0;
        /* Вырезаем ту часть контента, которая должна отображаться. */
        /* Устаревшее свойство clip для старых браузеров */
        clip: rect(0 0 0 0);
      }

.list {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    list-style-type: none;
}

.container.features {
    border-bottom: 1px solid #ECECEC;
}

.features-item {
    /* outline: 2px solid red; */
    /* background-color: var(--button-bg-color); */
    width: calc((100% - 90px) / 4);
}

.features-item:not(:last-child) {
    margin-right: 30px;
}

.background {
    background-color: var(--button-bg-color);
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.features-item .features-text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.features-item .features-title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    /* font-size: 14px;
    line-height: 1.14; */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.features-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    display: flex;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.navigation-link {

    /* position: relative; */
}
/* .navigation-link.navigation-link::after {
    position: absolute;
    left: 0;
    bottom: 0;
    
    content: "";

    display: block;
    width: 100%;
    height: 4px;

    background: var(--accent-text-color);
    border-radius: 2px;

    opacity: 0;

    transition: opacity 250ms var(--timing-function);
} */

/* .navigation-link.navigation-link.curent:hover::after,
.navigation-link.curent:focus::after {
    opacity: 1;
} */

.features-items {
    width: calc((100% - 60px) / 3);
    /* outline: 2px solid red; */

    position: relative;
} 

.features-items img {
    width: 100%;
}

.features-items:not(:last-child) {
    margin-right: 30px;
}

.caption-title {
    position: absolute;

    width: 100%;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    text-align: center;
    padding-bottom: 27px;
    padding-top: 27px;
    color: var(--caption-text-color);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
}



/* Our team */

.team-pic {
    margin-bottom: 30px;
}

.team-list .team-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.main-text {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

.team-list-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}
.team-list .main-text {   
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.team-section {
    background-color: #F5F4FA;;
}


.team {
    /* outline: 2px solid red; */
    list-style: none;
    padding-left: 0px;
    display: flex;
    
    margin-top: 0;
    margin-bottom: 0;
} 

.team-list {
    width: calc((100% - 90px) / 4);

    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    padding-bottom: 24px;
}

.team-list:not(:last-child) {
    margin-right: 30px;
}

.team-networks {
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    cursor: pointer;
}

.network-icon {
    fill: var(--main-network-color);

    transition: fill 250ms var(--timing-function);
}


.network-link {
    display: flex;
    justify-content: center;
    align-items: center;


    width: 44px;
    height: 44px;

    border-radius: 50%;
    background-color: var(--caption-text-color);
    
    transition: background-color 250ms var(--timing-function);
}


.network-link:hover .network-icon {
    fill: var(--caption-text-color);
}

.network-link:hover {
    background-color: var(--accent-text-color);
}

.customers {
    list-style: none;
    padding-left: 0;
    display: flex;
    
    margin-top: 0;
    margin-bottom: 0;
}

.customer-icon {
    width: calc((100% - 150px) / 5);
}

.customer-icon:not(:last-child) {
    margin-right: 30px;
}

.svg-icon {
    fill: var(--main-network-color);

    transition: fill 250ms var(--timing-function);
}

.customer-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 90px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border 250ms var(--timing-function);
}

.customer-link:hover .svg-icon {
    fill: var(--accent-text-color);
}

.customer-link:hover {
    border-color: var(--accent-text-color);
}


/* Footer */

.footer {
    background: var(--footer-bg-color);
    width: 100%;
}

.footer-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    display: flex;
    justify-content: space-between;
    

    padding-bottom: 48px;
    padding-top: 48px;
    align-items: baseline;

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.footer-logo {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer-web {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    color: var(--accent-text-color);
}

.footer-studio {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    color: var(--caption-text-color);
}

.location {
    margin-top: 0;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--caption-text-color);
    margin-bottom: 9px;
}

.footer-contacts {
    display: inline-block;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    text-decoration: none;
    margin-bottom: 9px;

    transition: color 250ms var(--timing-function);
}

.footer-contacts.tel {
    margin-bottom: 0;
}

.footer-contacts:hover {
    color: var(--accent-text-color);
    cursor: pointer;
}
.footer-caption {
    /* width: 231px; */
}

.footer-title {
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 21px;
    color: var(--caption-text-color);
}

.footer-networks {
    list-style: none;

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    display: flex;
    /* justify-content: space-between; */
}

.footer-network:not(:last-child) {
    margin-right: 10px;
}

.footer-link {
    width: 44px;
    height: 44px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: background-color 250ms var(--timing-function);
}

.footer-link:hover {
    background-color: var(--accent-text-color);
}

.footer-network-icon {
    fill: var(--caption-text-color);
}

.form {
    display: flex;
    flex-direction: row;
}

.email {
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: #2F303A;

    width: 358px;

    margin-right: 12px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

    color: var(--caption-text-color);
}

.signup-btn {
    display: inline-flex;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-transform: capitalize;

    padding: 13px 28px;

    align-items: center;
    color: var(--caption-text-color);
    outline-color: var(--accent-text-color);
    border-color: transparent;

    width: 200px;
    height: 50px;
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color 500ms var(--timing-function);
    cursor: pointer;
}

.signup-btn:hover,
.signup-btn:focus {
    transition: background-color 500ms var(--timing-function);
    background-color: var(--caption-text-color);
    color: var(--accent-text-color);
}

.signup-btn:hover .send,
.signup-btn:focus .send {
    fill: var(--accent-text-color);
}

.send {
    fill: var(--caption-text-color);
    margin-left: 10px;
}

.caption-dev {
    font-size: 12px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.4);

    padding-top: 18px;
    padding-bottom: 21px;
    margin-bottom: 0;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    opacity: 1;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms var(--timing-function);

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms var(--timing-function);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 528px;
    min-height: 581px;

    padding: 40px;

    background-color: var(--caption-text-color);
}

.modal-title {
    margin-top: 0;
    margin-bottom: 30px;

    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.form {
    display: block;
}

.form-field {
    position: relative;
}

.form-input {
    width: 448px;
    height: 40px;
    left: 576px;
    top: 383px;
    padding: 12px 18px 12px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 28px;
}

.form-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-100%);

    margin-left: 10px;
    color: var(--main-text-color);
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-120%);

    fill: var(--title-text-color);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label 
{
    color: var(--accent-text-color);
    transform: translate(-32px, -120%);

    transition: transform 500ms var(--timing-function);
}

.form-input:focus ~ .input-icon {
    fill: var(--accent-text-color);
}

.form-input:focus {
    outline-color: var(--accent-text-color);
}

.form-field {
    position: relative;
}

.form-label {
    position: absolute;
    top: 0;
    left: 42px;
    transform: translateY(100%);
    
} 

.form-field > textarea {
    width: 448px;
    height: 120px;
    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
}

.form-field.area {
    margin-top: 0;
    margin-bottom: 20px;
}

textarea:focus {
    outline-color: var(--accent-text-color);
}

.contract {
    margin-top: 0;
    margin-bottom: 30px;
}

.contract-caption {
    margin: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}


.contract-caption > a {
    margin: 0;
    color: var(--accent-text-color);
}

.send-btn {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    outline-color: var(--accent-text-color);
    color: var(--caption-text-color);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    cursor: pointer;
}

.submit-btn {
    display: flex;
    justify-content: center;
}

.modal-button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -30%);

    width: 30px;
    height: 30px;

    border: transparent;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12)
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
  
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.field {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
  }

.icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 4px;
    transition: transform 250ms linear;
    margin-right: 9px;
}

.checkbox:checked + .icon {
    background-color: var(--accent-text-color);
    background-origin: border-box;
    border-color: transparent;
    background-image: url(../images/check.svg);
    background-size: contain;

    transform: scale(1.2);
}

.label a {
    color: var(--accent-text-color);
}







                                        /* Web Studio Portfolio page */

.filter-container {
    /* outline: 2px solid red; */
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 93px;
    padding-bottom: 94px;
}

.filter {
    list-style: none;

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);

    border-radius: 4px;
    border: none;
    background-color: var(--button-bg-color);
    text-decoration: none;
    padding: 6px 22px;

    transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.btn:hover,
.btn:focus {
    background-color: #2196F3;
    color: var(--caption-text-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;

    display: flex;
    flex-wrap: wrap;
}


.portfolio-link,
.portfolio-title,
.portfolio-caption,
.portfolio-description {
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
}

.portfolio-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;

    transition: box-shadow 250ms var(--timing-function);
}

.portfolio-item:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    cursor: pointer;  
}
.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio .portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-caption {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.poster-caption {
    padding: 20px 24px;
}

.poster {
    position: relative;
    overflow: hidden;
}

.poster::after {
    content: "";
    position: absolute;
    bottom: 0;

    opacity: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);

    transition: transform 250ms var(--timing-function);
}

.portfolio-description {
    position: absolute;
    display: block;
    bottom: 0;
    z-index: 1;
    
    width: 100%;
    height: 100%;

    padding: 63px 24px;

    opacity: 0;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--caption-text-color);

    transform: translateY(100%);

    /* transition: transform 250ms var(--timing-function); */
}

.portfolio-link:hover .portfolio-description,
.portfolio-link:hover .poster::after {
    opacity: 1;
    transform: translateY(0);   
}


